@model MyBlog.Models.Blog;


<!--svg list-->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="delete" viewBox="0 0 22 22">
        <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
    </symbol>
</svg>

    <div class="bg-white my-5 p-5 shadow rounded-3">

        <h1 class="fs-5">Create a New Post</h1>

        @*display before model validation*@
        @if (Model == null)
        {
            <form method="post" enctype="multipart/form-data" action="/admin/blog/create/">
                <div class="modal-body mb-0">
                    <div class="mb-3">
                    <input type="text" name="Blog.title" placeholder="Title of your post" class="form-control w-50"  />
                    </div>
                    <div class="mb-3">
                        <input name="Blog.summary" class="form-control w-50" placeholder="Post Summary" />
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                        <textarea name="Blog.content" class="form-control" placeholder="What's on your mind?" rows="15"></textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                    <input class="form-control w-25" type="file" name="uploadedFile">
                    </div>
                    <div class="mb-0">
                        <input type="text" name="BlogTag.name" placeholder="tags" class="form-control" >
                    </div>
                </div>
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-info mt-4 text-white">Create</button>
                <a href="/admin/" class="btn btn-secondary mt-4">Cancel</a>
            </form>

        }
        @*display if validation fails*@
        else
        {
            <div class="alert alert-danger alert-dismissible fade show mt-4 mx-3" role="alert">
                All fields required.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form method="post" action="/admin/blog/create/">
                <div class="modal-body mb-0">
                    <div class="mb-3">
                        <input type="text" name="Blog.title" placeholder="Title of your post" class="form-control w-50" value="@Model.title" />
                    </div>
                    <div class="mb-3">
                        <input name="Blog.summary" class="form-control w-50" placeholder="Post Summary" value="@Model.summary" />
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <textarea name="Blog.content" class="form-control" placeholder="What's on your mind?" rows="15">@Model.content</textarea>
                        </div>
                    </div>
                    <div class="mb-0">
                        <input type="text" name="BlogTag.name" placeholder="tags" class="form-control"  />
                    </div>
                </div>
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-info mt-4 text-white">Create</button>
                <a href="/admin/" class="btn btn-secondary mt-4">Cancel</a>
            </form>
        
        }



    </div>


<!--TinyMCE-->
<script>
    tinymce.init({
        selector: 'textarea',
        menubar: false,
        plugins: 'anchor autolink codesample image link lists media table mediaembed casechange pageembed linkchecker a11ychecker powerpaste advtable advcode editimage tableofcontents footnotes mergetags typography inlinecss',
        codesample_languages: [
            { text: 'HTML/XML', value: 'markup' },
            { text: 'JavaScript', value: 'javascript' },
            { text: 'CSS', value: 'css' },
            { text: 'C#', value: 'csharp' },
        ],
        toolbar: 'blocks fontfamily fontsize | bold italic underline strikethrough | link image media  | typography | align | checklist numlist bullist indent | codesample '
    });
</script>